## TASK

### Apply Random forest model to below dataset.
### https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv')

In [3]:
data.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
data.shape

(214, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [6]:
data.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
X = data.drop('Type', axis = 1) ## Input variable
Y = data['Type']    ## Target variable

In [12]:
X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [10]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.40, random_state = 50)

In [14]:
X_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
206  1.51645  14.94  0.00  1.87  73.11  0.00   8.67  1.38  0.00
183  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00
113  1.51892  13.46  3.83  1.26  72.55  0.57   8.21  0.00  0.14
207  1.51831  14.39  0.00  1.82  72.86  1.41   6.47  2.88  0.00
175  1.52119  12.97  0.33  1.51  73.39  0.13  11.27  0.00  0.28
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
132  1.51813  13.43  3.98  1.18  72.49  0.58   8.15  0.00  0.00
33   1.51753  12.57  3.47  1.38  73.39  0.60   8.55  0.00  0.06
109  1.51818  13.72  0.00  0.56  74.45  0.00  10.99  0.00  0.00
139  1.51674  12.87  3.56  1.64  73.14  0.65   7.99  0.00  0.00
176  1.51905  14.00  2.39  1.56  72.37  0.00   9.57  0.00  0.00

[128 rows x 9 columns]

In [15]:
X_train.shape , X_test.shape

((128, 9), (86, 9))

In [16]:
Y_train.shape, Y_test.shape

((128,), (86,))

### Apply random forest model

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier()

In [20]:
rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [21]:
Y_prediction = rfc.predict(X_test)
Y_prediction

array([1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 6, 7, 2, 2, 2, 2,
       2, 2, 1, 2, 1, 2, 7, 2, 2, 1, 2, 2, 1, 1, 2, 1, 2, 2, 7, 2, 2, 1,
       2, 1, 3, 1, 7, 1, 2, 2, 2, 6, 7, 1, 1, 1, 7, 5, 2, 2, 1, 1, 1, 2,
       5, 6, 2, 2, 1, 2, 2, 1, 2, 2, 3, 2, 2, 7, 1, 7, 1, 2, 2, 2],
      dtype=int64)

In [32]:
X_test.head()

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe
145  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.0  0.35
69   1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03
119  1.51652  13.56  3.57  1.47  72.45  0.64   7.96  0.0  0.00
1    1.51761  13.89  3.60  1.36  72.73  0.48   7.83  0.0  0.00
23   1.51751  12.81  3.57  1.35  73.02  0.62   8.59  0.0  0.00

In [38]:
Y[:5]

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [34]:
rfc.predict([[1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.0,0.00]])

array([2], dtype=int64)

In [36]:
rfc.predict([[1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.00]])

array([1], dtype=int64)

In [26]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(Y_prediction, Y_test)

array([[19,  4,  4,  0,  0,  1],
       [ 2, 29,  2,  6,  1,  3],
       [ 0,  0,  2,  0,  0,  0],
       [ 0,  0,  0,  2,  0,  0],
       [ 0,  0,  0,  0,  3,  0],
       [ 0,  0,  0,  0,  0,  8]], dtype=int64)

In [27]:
accuracy_score(Y_prediction, Y_test)

0.7325581395348837